
#flor{height:100%;width:100%;}
#rosa{height:50%;width:80%}

h1{ text-align: center}
h2{ text-align: center}
h3{text-align: left}
h4{font-size: medium;}
p{font-size: medium;text-align: center;font-style: italic;}
ul{text-align: left}
